
<style>
  .custom_scrolling_main{
    overflow:hidden;
    display: flex;
  }
  .custom_scrolling_text{
    display: flex;
    align-items: center;
    flex: none;
    animation: translateFull 50s linear infinite;
  }
  .scrolling_div_image {
    max-width: 160px;
  }
  .scrolling_div_image img {
    width: 100%;
    object-fit: contain;
  }
  .scrolling_div_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scrolling_div_content svg {
    width: 30px;
    height: 30px;
  }
  .scrolling_div_content p {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    color: #080000;
    font-size: 77px;
    font-family: 'proxima-nova-cn';
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 3.388px;
    padding-right: 50px;
  }
  @keyframes translateFull {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% * 1));
  }
}

  @media(max-width:767px){
    .scrolling_div_content p {
      font-size: 44px;
      line-height: 44px;
    }
    .custom_scrolling_main{
      padding-bottom: 20px;
    }
  }

#custom_scrolling_main-{{ section.id }} {
  padding-top: {{section.settings.padding_top_desktop}}px;
  padding-bottom:{{section.settings.padding_bottom_desktop}}px;
}
#custom_scrolling_main-{{ section.id }} {
    background: {{section.settings.bg_color}};
    border-top: 1px solid {{section.settings.border_color}};
    border-bottom: 1px solid {{section.settings.border_color}};
}

#custom_scrolling_main-{{ section.id }} p{
    color:{{section.settings.text_color}};
}
  @media (max-width:767px){
      #custom_scrolling_main-{{ section.id }} {
        padding-top: {{section.settings.padding_top_mobile}}px;
        padding-bottom:{{section.settings.padding_bottom_mobile}}px;
      }
  }

</style>
{% if section.blocks.size > 0 %}
<div class="custom_scrolling_main" id="custom_scrolling_main-{{ section.id }}">
{% for i in (1..4) %}  
<div class="custom_scrolling_text">
  {% for block in section.blocks %}
   {% case block.type %}
     {% when 'Scrolling_Text' %}
      <div class="scrolling_div_content">
        {% if section.settings.show_svg  %}
        <svg xmlns="http://www.w3.org/2000/svg" width="29" height="36" viewBox="0 0 29 36" fill="none">
        <path d="M20.9157 6.62727C20.6562 7.00467 20.4107 7.92771 20.5201 8.10865C20.7181 8.43607 21.2667 8.25276 21.3815 7.81935C21.4486 7.58197 21.3372 6.92109 21.1812 6.58053L21.0841 6.38321L20.9157 6.62727Z" fill="#9CC454"/>
        <path d="M10.5682 6.25079C10.4434 6.9123 10.5146 7.2419 10.8229 7.51808C11.1075 7.77254 11.3204 7.80565 11.4634 7.61123C11.6013 7.40828 11.3321 6.7255 10.8632 6.09548L10.648 5.8041L10.5682 6.25079Z" fill="#9CC454"/>
        <path d="M19.6945 9.2197C18.8851 9.22386 18.0277 9.77362 17.4363 10.6729C17.0921 11.1904 16.6619 12.4436 16.6307 13.0356C16.5527 14.2753 17.2048 15.0498 18.7739 15.5933C19.7005 15.9142 20.3544 15.8562 20.81 15.4179C21.3728 14.8609 21.5561 13.9355 21.4863 12.0011C21.4422 10.8004 21.3861 10.4423 21.1744 10.0303C20.8754 9.45261 20.4514 9.21768 19.6945 9.2197Z" fill="#9CC454"/>
        <path d="M27.492 13.1191C26.8888 13.5528 26.5725 14.0101 26.716 14.2502C26.8286 14.4389 27.0983 14.4701 27.4082 14.3311L27.7095 14.1959L27.8476 13.5957C27.9245 13.2676 27.9653 12.9612 27.9345 12.9097C27.9038 12.8583 27.7489 12.9278 27.492 13.1191Z" fill="#9CC454"/>
        <path d="M11.2019 8.68737C10.8097 8.7261 10.3191 9.04046 9.99908 9.45451C9.06235 10.6914 9.46838 13.7288 10.7154 14.7888C10.9408 14.9817 11.0896 15.0536 11.5246 15.178C11.9865 15.3117 12.1456 15.3198 12.7557 15.2626C13.6373 15.1785 13.9796 15.0551 14.3245 14.7103C14.5601 14.4689 14.6057 14.3837 14.659 14.0588C14.7727 13.3036 14.4366 12.3717 13.4218 10.6583C12.4669 9.04648 11.9779 8.61373 11.2019 8.68737Z" fill="#9CC454"/>
        <path d="M25.1743 15.1479C24.0508 15.3184 22.5732 16.048 21.9086 16.7695C21.6364 17.0599 21.4962 17.565 21.5854 17.9607C21.7339 18.6741 22.5015 19.4674 23.3652 19.8078C23.829 19.9959 23.9148 20.0054 24.2298 19.9594C25.0114 19.8256 25.8952 18.6062 26.3243 17.06C26.514 16.3762 26.5127 15.876 26.3289 15.5556C26.1484 15.2498 25.6509 15.077 25.1743 15.1479Z" fill="#9CC454"/>
        <path d="M3.89149 12.8967C3.90952 13.3325 4.03068 13.7639 4.16632 13.932C4.34665 14.1491 4.76189 14.2803 4.89051 14.1573C5.02746 14.0306 4.9882 13.8827 4.72223 13.4746C4.55373 13.2146 4.01902 12.6459 3.90609 12.6066C3.8928 12.6019 3.88557 12.7336 3.89149 12.8967Z" fill="#9CC454"/>
        <path d="M5.37131 14.8838C5.12176 14.8907 4.83791 15.1538 4.75182 15.4657C4.6117 15.9732 4.778 17.2176 5.12163 18.2154C5.51618 19.3716 5.94971 19.9382 6.58757 20.1604C7.04108 20.3116 7.41382 20.2806 8.02031 20.036C9.10164 19.6016 9.53427 18.7468 9.09359 17.8895C8.44171 16.6101 6.27963 14.865 5.37131 14.8838Z" fill="#9CC454"/>
        <path d="M14.7685 22.1085C13.8068 21.9196 12.7812 22.1987 11.6622 22.949C10.9562 23.4256 8.38175 25.9685 7.76669 26.7947C7.11036 27.6928 7.0469 28.5785 7.61324 29.1864C7.8391 29.4373 7.95713 29.5048 8.43606 29.698C9.09049 29.9589 9.67805 30.0706 10.1495 30.0293C10.6423 29.9888 11.458 29.5836 12.3238 28.944C13.5055 28.0698 14.2075 27.8171 15.1597 27.91C16.0199 27.9973 16.6052 28.3269 17.7614 29.3522C18.8243 30.2986 19.1439 30.5224 19.6754 30.7074C21.0468 31.1847 22.4098 30.0953 22.2434 28.6592C22.1507 27.845 21.5766 27.082 20.0486 25.7352C19.5163 25.265 18.7809 24.6181 18.419 24.2868C18.0554 23.9614 17.5837 23.5587 17.3707 23.3918C16.5745 22.7834 15.5054 22.2523 14.7685 22.1085Z" fill="#9CC454"/>
      </svg>
        {% endif %}
        <p>{{ block.settings.text }}</p>
      </div>
      
      {% when 'Scrolling_Image' %}
      <div class="scrolling_div_image">
       {% if block.settings.image != blank %}
        {{ block.settings.image | image_url:width:block.settings.image.width | image_tag:loading:'lazy' }}
       {% endif %}
      </div>
    {% endcase %}
  {% endfor %}
</div>
{% endfor %}
</div>
{% endif %}
{% schema %}
  {
    "name": "MM Scrolling text",
    "settings": [
      {
        "type":"checkbox",
        "id":"show_svg",
        "label":"Show Svg",
        "default":false
      },
      {
        "type":"color",
        "id":"bg_color",
        "label":"Background Color",
        "default":"#fff"
      },
       {
        "type":"color",
        "id":"border_color",
        "label":"Border Color",
        "default":"#fff"
      },
      {
        "type":"color",
        "id":"text_color",
        "label":"Text Color",
        "default":"#2E4368"
      }
      ,{
        "type": "range",
        "id": "padding_top_desktop",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },{
        "type": "range",
        "id": "padding_bottom_desktop",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      },{
       "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Top Mobile",
        "default": 0
      },{
       "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom Mobile",
        "default": 0
      }
    ],
    "blocks":[
      {
        "name":"Scrolling Text",
        "type":"Scrolling_Text",
        "settings":[
          {
            "type":"text",
            "id":"text",
            "label":"Text",
            "default":"Made in the USA"
          }
        ]
      },
       {
        "name":"Scrolling Image",
        "type":"Scrolling_Image",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"MM Scrolling text"
      }
    ]
  }
{% endschema %}
